.horizontal-max{
	float: left;
	width: 100%;
}

.horizontal-max-large{
	float: left;
	bckground: orange;
	width: 80%;
}

.horizontal-max-small{
	float: left;
	bckground: pink;
	width: 10%;
	margin-left: 10px;
}

.button-basic{
	float: left;
}

.copyright{
	float: left;
	bckground: pink;
	width:100%;
}

.copyright a{
	float: left;
	margin-left: 44%; 
	font-size: 11px; 
	color: #666;
}

textarea#copy-code{
	float: left;
	width:100%;
	height: 300px;
}

body {
  padding-top: 54px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
#column-name{width: 29%;}
#column-label{width: 29%;}
#generate{
	width: 142px;
	margin-left: 5px;
	margin-bottom: 10px;
}